@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    background-color: white;
}

header {
    height: 8vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-bottom: 1px solid rgba(149, 148, 148, 0.3);
    /* position: fixed; */
}

.logoStyle {
    background-color: transparent;
}

header div {
    display: flex;
    height: 9vh;
    align-items: center;
    justify-content: center;
}

.logo {
    cursor: pointer;
}

button {
    padding: 5px 20px;
    background-color: rgba(0, 153, 153, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 300ms ease 0s;
    border: none;
    color: white;
}

button:hover {
    background-color: rgba(0, 136, 169, 0.6);
}

/* {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
} */

.btn1 {
    background-color: transparent;
    border: none;
    outline: none;
}

button img {
    background-color: transparent;
    /* color: white; */
}

.all {
    margin-top: 9vh;
    height: 80vh;
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

.img {
    width: 40vh;
    height: 40vh;
    /* background-image: url("/static/images/incode.png"); */
    /* background-size: cover; */
    background-repeat: no-repeat;
    /* background-color: yellow; */
    transform: translateY(-75px);
}

.showImage {
    background-size: cover;
}

.all-btns {
    /* border: 1px solid rgba(0, 153, 153, 1); */
    border-bottom: 0.5px solid rgba(0, 153, 153, 1);
    border-top: 0.5px solid rgba(0, 153, 153, 1);
    border-radius: 150px;
    display: flex;
    width: 90%;
    justify-content: space-between;
    /* margin-bottom: 20px; */
}

input[type="file"] {
    display: none;
}

label {
    color: white;
    background-color: rgba(0, 153, 153, 1);
    height: 50px;
    width: 200px;
    margin-top: 500px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="submit"] {
    display: none;
}

label {
    color: white;
    background-color: rgba(0, 153, 153, 1);
    height: 50px;
    width: 200px;
    margin-top: 500px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

label {
    color: white;
    background-color: rgba(0, 153, 153, 1);
    height: 50px;
    width: 200px;
    margin-top: 500px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
}

input[type="button"] {
    display: none;
}

label {
    color: white;
    background-color: rgba(0, 153, 153, 1);
    height: 50px;
    width: 200px;
    margin-top: 500px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;

}

.uploadButton {
    height: 40px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    margin-right: 200px;
    margin-left: 20px;
}

.developerInfo {
    height: 50px;
    background-color: transparent;
}

.sendImage {
    width: 75px;
}

.loader {
    position: absolute;
    top: 50%;
    left: 40%;
    background-color: transparent;
    border: 16px solid #f3f3f3;
    border-top: 16px solid rgba(0, 153, 153, 1);
    ;
    border-bottom: 16px solid rgba(0, 153, 153, 1);
    ;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1.5s linear infinite;
    /* z-index: 9; */
    /* margin: 20px; */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}




/* 
.startingButton{
    width: 100;
    height: 50;
    background-color: red;
} */